header.p-3.bg-dark.text-white
  .container
    .d-flex.flex-wrap.align-items-center.justify-content-between
      a.d-flex.align-items-center.text-white.text-decoration-none(href='/')
        strong My App
      .text-end
        a.btn.btn-outline-light(href='/login') #{t('nav.login')}
