nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container
    a.navbar-brand(href='/') Менеджер задач
    ul.navbar-nav.me-auto
      li.nav-item
        a.nav-link(href='/users') Пользователи
      //- These links only appear when logged in (future steps: statuses, labels, tasks)
    ul.navbar-nav
      if currentUser
        li.nav-item
          form.d-inline(method='POST' action='/session')
            input(type='hidden' name='_method' value='delete')
            input.btn.nav-link(type='submit' value='Выход')
      else
        li.nav-item
          a.nav-link(href='/session/new') Вход
        li.nav-item
          a.nav-link(href='/users/new') Регистрация
